################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/UnityEngine.UI.csproj
/UnityEngine.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEditor.TestRunner.csproj
/Unity.VSCode.Editor.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Core.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.Rider.Editor.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Mathematics.Editor.csproj
/Unity.Mathematics.csproj
/Unity.InternalAPIEngineBridge.001.csproj
/Unity.InternalAPIEditorBridge.001.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Burst.Editor.csproj
/Unity.Burst.csproj
/Unity.Burst.CodeGen.csproj
/Unity.2D.Tilemap.Extras.Editor.csproj
/Unity.2D.Tilemap.Extras.csproj
/Unity.2D.Tilemap.Editor.csproj
/Unity.2D.SpriteShape.Runtime.csproj
/Unity.2D.SpriteShape.Editor.csproj
/Unity.2D.Sprite.Editor.csproj
/Unity.2D.Psdimporter.Editor.csproj
/Unity.2D.PixelPerfect.Editor.csproj
/Unity.2D.PixelPerfect.csproj
/Unity.2D.Path.Editor.csproj
/Unity.2D.IK.Runtime.csproj
/Unity.2D.IK.Editor.csproj
/Unity.2D.Common.Runtime.csproj
/Unity.2D.Common.Editor.csproj
/Unity.2D.Animation.Runtime.csproj
/Unity.2D.Animation.Editor.csproj
/Temp
/PsdPlugin.csproj
/ProjectSettings
/Packages
/obj/Debug
/Logs
/Library
/Kingdom.sln
/com.unity.cinemachine.editor.csproj
/Cinemachine.csproj
/Assembly-CSharp.csproj
/.vsconfig
/.vscode
/.vs/Kingdom
